.header {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 50% 20%;
    padding: 5px;
}

.header_bottom {
    width: 90%;
    height: 40px;

    margin: auto;

    border: black 1px solid;
    border-radius: 5px;
}