.header {
    display: grid;
    width: 100%;

    grid-template-columns: 2fr 5fr 1fr;

}

.section {
    width: 80%;
    margin: auto;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
}